<div
	><fieldset
		><legend style="display: none;">${_messages.search_property_options}</legend><input id="${id}_matchAll" data-dojo-attach-point="_matchAllRadioButton" data-dojo-type="dijit.form.RadioButton" name="${id}_matchOption"
		/><label for="${id}_matchAll">${_messages.search_property_option_match_all}</label
		><br
		/><input id="${id}_matchAny" data-dojo-attach-point="_matchAnyRadioButton" data-dojo-type="dijit.form.RadioButton" name="${id}_matchOption"
		/><label for="${id}_matchAny">${_messages.search_property_option_match_any}</label
	></fieldset
></div>
