<div
	><fieldset
		><legend style="display: none;">${_messages.search_using}</legend
		><input id="${id}_anded" data-dojo-attach-point="_andedRadioButton" data-dojo-type="dijit.form.RadioButton" name="${id}_propertyTextOption"
		/><label for="${id}_anded">${_messages.search_property_and_text_criteria}</label
		><br
		/><input id="${id}_ored" data-dojo-attach-point="_oredRadioButton" data-dojo-type="dijit.form.RadioButton" name="${id}_propertyTextOption"
		/><label for="${id}_ored">${_messages.search_property_or_text_criteria}</label
	></fieldset
></div>
