<span
	><span data-dojo-type="ecm.widget.DropDownLink" data-dojo-attach-point="_optionsLink" label="${messages.unified_search_see_analysis}" id="${id}_unifiedSearchResultsAnalysisLink" hideSummary="true"
		><div data-dojo-type="ecm.widget.DropDownDialog" data-dojo-attach-point="_optionsDialog" id="${id}_unifiedSearchResultsAnalysisDialog" hideCancelButton="true"
			><div class="ecmUnifiedSearchResultsAnalysisDialog"
				><div data-dojo-attach-point="_headerNode" class="unifiedSearchResultsAnalysisHeader"></div
				><div class="unifiedSearchResultsAnalysisContent" data-dojo-attach-point="_analysisGridContainer" id="${id}_unifiedSearchResultsAnalysisContent"></div
			></div
		></div
	></span
></span>
