<span
	><span data-dojo-type="ecm.widget.DropDownLink" data-dojo-attach-point="_optionsLink" label="${_messages.search_class}" id="${id}_classCriteriaLink" keepSummaryOnDisabled="true"
		><div data-dojo-type="ecm.widget.DropDownDialog" data-dojo-attach-point="_optionsDialog" id="${id}_classCriteriaDialog"
			><div class="ecmSearchOptionsDialog"
				><div class="searchCriteriaContent" data-dojo-type="ecm.widget.search._ClassCriteria" data-dojo-attach-point="_classCriteriaContent"></div
			></div
		></div
	></span
></span>
