<span
	><span data-dojo-type="ecm.widget.DropDownLink" data-dojo-attach-point="_optionsLink" label="${label}" id="${id}_searchPropertyOptionsLink"
		><div data-dojo-type="ecm.widget.DropDownDialog" class="searchPropertyOptions" data-dojo-attach-point="_optionsDialog" id="${id}_searchPropertyOptionsDialog"
			><div class="ecmSearchOptionsDialog"
				><div data-dojo-type="ecm.widget.search._MatchOption" data-dojo-attach-point="_matchOption" id="${id}_matchOption"></div
			></div
		></div
	></span
></span>
