<span
	><span data-dojo-type="ecm.widget.DropDownLink" data-dojo-attach-point="_optionsLink" label="${_messages.search_in_title}" id="${id}_searchInCriteriaLink" keepSummaryOnDisabled="true"
		><div data-dojo-type="ecm.widget.DropDownDialog" data-dojo-attach-point="_optionsDialog" id="${id}_searchInCriteriaDialog" hideCancelButton="true"
			><div class="ecmSearchOptionsDialog"
				><div class="searchCriteriaContent" data-dojo-type="ecm.widget.search._SearchInCriteria" data-dojo-attach-point="_searchInCriteriaContent"></div
			></div
		></div
	></span
></span>
