<span class="ecmTextSearchOptions"
	><span data-dojo-type="ecm.widget.DropDownLink" data-dojo-attach-point="_optionsLink" label="${_messages.text_search_options}" id="${id}_textSearchOptionsLink" hideLink="${hideLink}"
		><div data-dojo-type="ecm.widget.DropDownDialog" data-dojo-attach-point="_optionsDialog" id="${id}_textSearchOptionsDialog"
			><div class="ecmSearchOptionsDialog"
				><div data-dojo-type="ecm.widget.search._TextSearchOptions" data-dojo-attach-point="_textSearchOptions" id="${id}_textSearchOptions" class="dijitHidden"></div
				><div data-dojo-type="ecm.widget.search._BoxTextSearchOptions" data-dojo-attach-point="_boxTextSearchOptions" id="${id}_boxTextSearchOptions" class="dijitHidden"></div
			></div
		></div
	></span
></span>
