<div class="ecmBasicSearchBuilder">
	<div class="searchSection" data-dojo-attach-point="searchSection" tabindex="-1">
		<div class="textSearch dijitHidden" data-dojo-attach-point="textSearchCriteriaArea">
			<div class="criteriaContent">
				<div>
					<span class="required dijitHidden" data-dojo-attach-point="textSearchCriteriaRequiredNode">*</span>
					<label for="${id}_textSearch">${messages.text_search_label}</label>
					<div id="${id}_textSearchCriteriaHoverHelp" data-dojo-attach-point="textSearchCriteriaHoverHelp" data-dojo-type="ecm/widget/HoverHelp" data-dojo-props="hrefLabel: '${messages.learn_more}', href: 'euche012.htm'">
						${messages.text_search_hover_help_common}
					</div>
				</div>
				<div class="textSearchCriteria"> 
					<input id="${id}_textSearchCriteria" class="textSearchText" data-dojo-attach-point="textSearchCriteriaTextBox" data-dojo-type="ecm/widget/ValidationTextBox" data-dojo-props="placeHolder: '${messages.text_search_place_holder_common}', hoverHelpId: '${id}_textSearchCriteriaHoverHelp'" data-dojo-attach-event="onChange: _updateButtons, onKeyUp: _updateButtons, onKeyDown: onKeyDown" />
				</div>
			</div>
		</div>
		<div class="criteriaContent" data-dojo-attach-point="searchCriteriaArea">
			<div class="sectionContent" data-dojo-attach-point="attributeDefinitionForm"></div>
			<div class="sectionContent propertyOptions">
				<div data-dojo-attach-point="addPropertyButton" data-dojo-type="dijit.form.Button" disabled="true" label="${messages.add_property}" data-dojo-attach-event="onClick:_addProperty"></div>
				<div data-dojo-attach-point="showAllLink" data-dojo-type="dijit.form.Button" disabled="true" label="${messages.show_all_properties}" data-dojo-attach-event="onClick:_showAllProperties"></div>
				<span id="${id}_propertyOptions" data-dojo-attach-point="_propertyOptions" data-dojo-type="ecm.widget.search.SearchPropertyOptions"></span>
			</div>
		</div>
	</div>
	<div class="buttonArea" data-dojo-attach-point="buttonArea">
		<div id="${id}_searchButton" data-dojo-attach-point="searchButton" data-dojo-attach-event="onClick:_onSearchButtonClick" class="solid" disabled="true" data-dojo-type="dijit.form.Button" label="${messages.search}"></div>
		<div id="${id}_resetButton" data-dojo-attach-point="resetButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_reset" label="${messages.reset}"></div>
		<div id="${id}_saveButton" data-dojo-attach-point="saveButton" disabled="true" data-dojo-type="dijit.form.Button" label="${messages.save_template}" title="${messages.save_template_title}" data-dojo-attach-event="onClick:_onSaveButtonClick"></div>
		<div id="${id}_saveAsButton" data-dojo-attach-point="saveAsButton" disabled="true" data-dojo-type="dijit.form.Button" label="${messages.saveAs}" data-dojo-attach-event="onClick:_onSaveAsButtonClick"></div>
		<div id="${id}_cancelButton" data-dojo-attach-point="cancelButton" data-dojo-type="dijit.form.Button" label="${messages.cancel}" data-dojo-attach-event="onClick:onCancel"></div>
		<div id="${id}_resultsDisplayOptions" data-dojo-attach-point="resultsDisplayOptions" data-dojo-type="ecm.widget.search.SearchResultsDisplayOptions"></div>
		<div id="${id}_resultsDisplayButton" data-dojo-attach-point="resultsDisplayButton" data-dojo-type="dijit.form.Button" label="${messages.search_results_dropdown_button}" title="${messages.search_results_columns_description}" data-dojo-attach-event="onClick:_showResultsDisplayOptions" disabled="true"></div>
		<span class="ecmKeepSearchCriteriaExpandedCheckBox">
			<input id="${id}_searchCriteriaCB" name="${id}_searchCriteriaCB" data-dojo-attach-point="keepSearchCriteriaExpanded" data-dojo-type="dijit.form.CheckBox" value="" type="checkbox"/>
			<label for="${id}_searchCriteriaCB" >${messages.keep_search_criteria_expanded}</label>
		</span>
	</div>
</div>
