<span
	><span data-dojo-type="ecm.widget.DropDownLink" data-dojo-attach-point="_optionsLink" label="${messages.unified_search_details}" id="${id}_unifiedSearchScopeLink" keepSummaryOnDisabled="true" hideSummary="true"
		><div data-dojo-type="ecm.widget.DropDownDialog" data-dojo-attach-point="_optionsDialog" id="${id}_unifiedSearchScopeDialog" hideCancelButton="true"
			><div class="ecmSearchOptionsDialog"
				><div class="unifiedSearchScopeContent" data-dojo-type="ecm.widget.search.UnifiedSearchRepositoriesList" data-dojo-props="readOnly: true" data-dojo-attach-point="_unifiedSearchScopeContent" id="${id}_unifiedSearchScopeContent"></div
			></div
		></div
	></span
></span>
