<div class="ecmEntryTemplateSettingsPane">
  <div data-dojo-type="idx/layout/BorderContainer" data-dojo-attach-point="borderContainer" data-dojo-props="'class': 'borderContainer'">
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'leading', 'class': 'navigation'">
	   <ul data-dojo-attach-point="navigationList" class="navigationList" >
	   </ul>
	</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" data-dojo-attach-point="scrollableContainer">
 	   <div data-dojo-attach-point="contentContainer" class="contentContainer"></div>
	</div>
  </div>		
</div>