<div class="ecmSaveCommentPane" data-dojo-attach-point="containerNode"
	><div data-dojo-type="dijit.layout.ContentPane" region="center" id="${id}_addCommentPane"
		><div id="${id}_commentTextarea" data-dojo-type="dijit.form.SimpleTextarea" data-dojo-attach-point="commentTextarea" data-dojo-attach-event="onChange: _validate" intermediateChanges="true" required="true"></div
		><button id="${id}_commentAddButton" data-dojo-type="dijit.form.Button" data-dojo-attach-point="commentAddButton" data-dojo-attach-event="onClick:addComment" type="button" disabled="true">${messages.comments_add}</button
	></div
></div>
