<span class="dijit dijitReset dijitInline ecmCompositeButton" id="widget_${id}" role="presentation">
	<span data-dojo-attach-point="_iconNode" class="stateIcon">
		<img tabindex=0 alt="${iconAltText}" class="${iconClass}" src="dojo/resources/blank.gif">
	</span>
	<span data-dojo-attach-point="_focusNode" class="label"></span>
	<span class="action"
		><a href="javascript:;" role="button" aria-label="${actionAltText}" data-dojo-attach-point="_actionFocusNode" data-dojo-attach-event="onclick: _onActionButtonClick, onkeydown: _onActionButtonKeyDown" class="actionIcon">
			<img alt="${actionAltText}" class="${actionIconClass}" src="dojo/resources/blank.gif" role="button">
			<span class="altText">X</span
		></a>
	</span>
</span>