<div class="ecmItemPropertiesStackPane">
  <div data-dojo-attach-point="_borderContainer" gutters="false" data-dojo-type="dijit.layout.BorderContainer" class="borderContainer">
    <div data-dojo-type="ecm.widget.Ellipsis" data-dojo-attach-point="_breadcrumbContainer" class="breadcrumbContainer" truncate="left" region="top">
	  <div data-dojo-type="ecm.widget.Breadcrumb" data-dojo-attach-point="_breadcrumb" class="breadcrumb"></div>
    </div>
    <div data-dojo-attach-point="_stackContainer" data-dojo-type="dijit.layout.StackContainer" region="center">   
    </div>
  </div>
</div>