<span class="ecmRecommendations"
	><label data-dojo-attach-point="_countValue">0</label
	><div data-dojo-type="ecm/widget/DropDownLink" data-dojo-attach-point="_countLink" class="dropDownLink"  label="${messages.social_link_label}"
		><div data-dojo-attach-point="_dropdownDialog" data-dojo-type="ecm/widget/DropDownDialog" hideCancelButton=true class="ecmRecommendations dropDownDialog"
			><div data-dojo-attach-point="_recommendationNode" class="recommendationNode"
				><a data-dojo-type="idx/form/Link" data-dojo-attach-point="_innerStateIconLink"
					><img data-dojo-attach-point="_innerStateIcon" class="ecmStatusIcon"
					><span data-dojo-attach-point="_innerStateIconChar" class="ecmStatusIconChar"></span
				></a
				><label data-dojo-attach-point="_labelNode" class="labelNode"></label></div
			><div data-dojo-attach-point="_gridNode" class="gridContainer"></div
		></div
	></div
></span>