<div class="ecmSloshBucket">
  <div class="mainBorder">
    <div class="leftPane">
      <div class="availableDataAndButtonsBorder" data-dojo-attach-point="_availableDataBorder">
        <div class="availableContentPane" data-dojo-attach-point="_availableContentPane">
          <div data-dojo-attach-point="_availableLabel" class="label">${availableLabel}</div>
          <div class="availableDataContainer" data-dojo-attach-point="_availableDataContainer"></div>
        </div>
        <div class="addRemoveButtonPane">
          <div title="${messages.add_to_selected_tooltip}" showLabel="false" iconClass="addButton" data-dojo-attach-point="_addButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: _onClickAdd">&#8250;</div>
          <div title="${messages.remove_from_selected_tooltip}" showLabel="false" iconClass="removeButton" data-dojo-attach-point="_removeButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: _onClickRemove">&#8249;</div>
        </div>    
      </div>    
    </div>    
    
    <div class="rightPane">
      <div class="valuesGridAndButtonsBorder" data-dojo-attach-point="_valuesDataBorder">
        <div class="valuesContentPane" data-dojo-attach-point="_valuesGridContentPane">
          <div data-dojo-attach-point="_selectedLabel" class="label">${selectedLabel}</div>
          <div class="valuesGridContainer" data-dojo-attach-point="_valuesGridContainer"></div>
	    </div>
        <div class="moveUpDownButtons" data-dojo-attach-point="_moveUpDownButtonContainer">
          <div title="${messages.move_up_selected_tooltip}" showLabel="false" iconClass="moveUpButton" data-dojo-attach-point="_upButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: _onClickUp">&#8743;</div>
          <div title="${messages.move_down_selected_tooltip}" showLabel="false" iconClass="moveDownButton" data-dojo-attach-point="_downButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: _onClickDown">&#8744;</div>
	    </div>
      </div>
    </div>
  </div>
</div>