<div class="ecmWorkspacePropertiesPane" data-dojo-attach-point="containerNode">	
		<div class="propsContainer" >
  			<div class="field teamspaceNameField">
		   		<label for="${id}_name">
			  		<span class="required" >*</span>${_propertiesTeamspaceName}
			  		<div id="${id}_nameTooltip" data-dojo-type="ecm.widget.HoverHelp" data-dojo-attach-point="nameHoverHelp" message="${_teamspaceNameTooltip}"></div>
		   		</label>
		   		<input id="${id}_name" data-dojo-attach-point="teamspaceName" maxLength="128" class="input" type="text" value="" regExp='([^"*|<>?:\\/])*'  invalidMessage="${_invalidName}" missingMessage="${_missingName}" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false" />
		   	</div>
			<div class="field teamspaceDescriptionField">
		   		<label for="${id}_description">
			  		<span class="required" ></span>${_propertiesTeamspaceDescription}
			  		<div id="${id}_descriptionTooltip" data-dojo-type="ecm.widget.HoverHelp" data-dojo-attach-point="descriptionHoverHelp" message="${_teamspaceDescriptionTooltip}"></div>
		   		</label> 
		   		<input id="${id}_description" data-dojo-attach-point="description" maxLength="255" class="input" type="text" value="" data-dojo-type="ecm.widget.ValidationTextBox" trim="true" propercase="false" />
	    	</div>	
		
			<div data-dojo-attach-point="stateArea" class="field stateArea">
				<label>
			  		${_propertiesTeamspaceState}
			  		<div id="${id}_stateTooltip" data-dojo-type="ecm.widget.HoverHelp" data-dojo-attach-point="stateHoverHelp" message="${_stateTooltip}"></div>
		   		</label> 
		   		<div class="stateOptions">
		   		<fieldset>
		   		<legend style="display: none;">${_propertiesTeamspaceState}</legend>
					<input id="${id}_onlineRadio" data-dojo-attach-point="stateOnlineRadio" data-dojo-type="ecm.widget.RadioButton" name="state"/>
					<label for="${id}_onlineRadio">${messages.workspace_properties_online_radio_option_label}</label>
					<input id="${id}_offlineRadio" data-dojo-attach-point="stateOfflineRadio" data-dojo-type="ecm.widget.RadioButton" name="state"/>
					<label for="${id}_offlineRadio">${messages.workspace_properties_offline_radio_option_label}</label>
				</fieldset>
				</div>
			</div>
		</div>
</div>