<div class="ecmTilesList">
<div data-dojo-attach-point="bc" data-dojo-type="dijit.layout.BorderContainer" design="headline" class="ecmTileListContainer">
	<div data-dojo-type="dijit.layout.ContentPane" region="top" class="toolbarArea" data-dojo-attach-point="toolbarArea">
		<div class="actionsArea" data-dojo-attach-point="actionsArea">
		</div>
		<div class="filterArea" data-dojo-attach-point="filterArea">
			<label style="display: none;" for="${id}_filterText">${messages.multicolumn_list_filter_text}</label>
			<div data-dojo-type="ecm.widget.FilterTextBox" data-dojo-attach-point="filter" class="filter" id="${id}_filterText" placeholder="${_filterText}"></div>
		</div>
	</div>
	<div region="center" data-dojo-type="dijit.layout.ContentPane" tabIndex=-1 data-dojo-attach-point="bottomContainer" class="bottomContainer" data-dojo-attach-event="onClick: _onListItemClick, onDblClick: _onListItemDoubleClick, onKeyPress: _onListItemKey">
	</div>
</div>
</div>