<div class="dijit dijitReset dijitInline dijitLeft"
	id="widget_${id}" style="padding: 0;" role="presentation"
	><div class='dijitReset dijitValidationContainer'
		><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
	/></div
	><div class="dijitReset dijitInputField dijitInputContainer"
		><textarea ${!nameAttrSetting} class="dijitInputContainer" style="border: none; overflow: auto; width: 100%; resize: none;" data-dojo-attach-point='focusNode,containerNode,textbox' autocomplete='off'>
	</textarea></div>
</div>
