<div class="ecmDesktopMenus" style="overflow: auto;">
  <div class="ecmAdminTabInstructions" data-dojo-attach-point="instructions" id="${id}_intro">
      ${messages.admin_desktop_menus_instructions}
  </div>
  <div>
    <div data-dojo-type="idx/layout/TitlePane" data-dojo-attach-point="toolbarTitlePane" data-dojo-props='style: { "margin-top": "10px", "margin-left": "-0px" }'>
      <table class="propertyTable" style="padding: 10px 0;" data-dojo-attach-point="toolbarTable" role="presentation">
      </table>
    </div>
    <div data-dojo-type="idx/layout/TitlePane" data-dojo-attach-point="contextMenuTitlePane" data-dojo-props='style: { "margin-top": "10px", "margin-left": "-0px" }'>  
      <table class="propertyTable" style="padding: 10px 0;" data-dojo-attach-point="contextMenuTable" role="presentation">
      </table>
    </div>
    <div data-dojo-type="idx/layout/TitlePane" data-dojo-attach-point="officeRibbonbarTitlePane" data-dojo-props='style: { "margin-top": "10px", "margin-left": "-0px" }'>
      <table class="propertyTable" style="padding: 10px 0;" data-dojo-attach-point="officeToolbarTable" role="presentation">
      </table>
    </div>
    <div data-dojo-type="idx/layout/TitlePane" data-dojo-attach-point="officeContextMenuTitlePane" data-dojo-props='style: { "margin-top": "10px", "margin-left": "-0px" }'>  
      <table class="propertyTable" style="padding: 10px 0;" data-dojo-attach-point="officeContextMenuTable" role="presentation">
      </table>
    </div>
  </div>  
</div>