<div class="ecmAdminTab ecmTabRedactions">
  <div data-dojo-type="idx/layout/BorderContainer" data-dojo-attach-point="borderContainer" data-dojo-props="gutters: false, style: { width: '100%', height: '100%' }">
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top', 'class': 'ecmAdminTabButtonBar'">
		<div class="adminToolbar">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="newButton" data-dojo-attach-event="onClick: _onNew" data-dojo-props="disabled: true">
				${messages.admin_repository_redaction_new}
			</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="openButton" data-dojo-attach-event="onClick: _onOpen" data-dojo-props="disabled: true">
				${messages.admin_action_edit}
			</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="copyButton" data-dojo-attach-event="onClick: _onCopy" data-dojo-props="disabled: true">
				${messages.admin_action_copy}
			</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="deleteButton" data-dojo-attach-event="onClick: _onDelete" data-dojo-props="disabled: true">
				${messages.delete_text}
			</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" data-dojo-attach-event="onClick: _onReset">
				${messages.refresh}
			</button>
	     	<label for="${id}_filter" style="display: none;">${messages.name_contains_label}</label>
			<div data-dojo-attach-point="_filter" data-dojo-props='id: "${id}_filter", "class": "filter"' data-dojo-type="ecm/widget/FilterTextBox"></div>		
		</div>
	</div>
	<div data-dojo-type="ecm/widget/listView/ContentList" class="ecmRedactionRoles" data-dojo-attach-point="_contentList" data-dojo-props="region: 'center'"></div>
</div>