<div class="ecmAdminTab ecmTabPlugins">
	<div data-dojo-type="idx/layout/BorderContainer" data-dojo-attach-point="_buttonBarBorderContainer" data-dojo-props="gutters: false, style: { width: '100%', height: '85px' }">
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="'class': 'ecmAdminTabButtonBar', region: 'top'">
			<div class="categoryInstructions" id="${id}_intro" data-dojo-attach-point="instructions">${messages.admin_rba_instructions}</div>
			<div class="adminToolbar" data-dojo-attach-point="buttons">
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="newButton" data-dojo-attach-event="onClick: _onNew">
					${messages.admin_rba_new_role}
				</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="openButton" data-dojo-attach-event="onClick: _onOpen" data-dojo-props="disabled: true">
					${messages.admin_action_edit}
				</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="copyButton" data-dojo-attach-event="onClick: _onCopy" data-dojo-props="disabled: true">
					${messages.admin_action_copy}
				</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="deleteButton" data-dojo-attach-event="onClick: _onDelete" data-dojo-props="disabled: true">
					${messages.delete_text}
				</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" data-dojo-attach-event="onClick: _onReset">
					${messages.refresh}
				</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="exportButton"  data-dojo-attach-event="onClick: _onExport" data-dojo-props="disabled: true">
				 	${messages.admin_exportconfiguration_button_label}
				</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="importButton" data-dojo-attach-event="onClick: _onImport">
				 	${messages.admin_importconfiguration_button_label}
				</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeButton" data-dojo-attach-event="onClick: _onClose">
					${_messages.close}
				</button>						
	     		<label for="${id}_filter" style="display: none;">${messages.name_contains_label}</label>
				<div data-dojo-attach-point="_filter" data-dojo-props='id: "${id}_filter", "class": "filter"' data-dojo-type="ecm/widget/FilterTextBox"></div>		
			</div>
		</div>
  	</div>
  	<div style="overflow: auto" data-dojo-attach-point="_listContainer">
  		<div style="height:210px">
	  		<div data-dojo-type="ecm/widget/listView/ContentList" data-dojo-attach-point="_contentList" data-dojo-props="multiSelect: true"></div>
	  	</div>
	  	<div style="margin-top: 10px;" class="dijitHidden" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="_detailsArea" data-dojo-props="gutters: false, region: 'center'">
 			<div>
  				<label data-dojo-attach-point="_description" style="font-size: 14px;"></label>
  			</div>
  			<div style="margin-top: 10px; margin-bottom: 10px;">
  				<label style="font-size: 14px;" data-dojo-attach-point="_desktopLabel"></label>
  			</div>
	  		<div data-dojo-type="ecm/widget/listView/ContentList" data-dojo-attach-point="_desktopContentList" data-dojo-attach-point="_desktopContentList" data-dojo-props="multiSelect: false, style: { width: '100%', height: '350px' }"></div>
	  	</div>
	 </div>
</div>