<div class="ecmAdminTab">	
  <div data-dojo-type="idx/layout/BorderContainer" data-dojo-attach-point="borderContainer" data-dojo-props="gutters: false, style: { width: '100%', height: '100%' }">
   <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
	<div>
	  <table class="propertyTable" role="presentation">
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_repositoryType-field">${messages.repository_type}</label>
			</td>
			<td class="propertyRowValue">
			   <div data-dojo-attach-point="serverTypeField" data-dojo-attach-event="onChange: _onServerTypeChange" data-dojo-type="ecm/widget/FilteringSelect" data-dojo-props="id: '${id}_repositoryType-field', labelType: 'text', label: 'label', searchAttr: 'label', maxHeight: 200"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_viewer-field">${messages.viewer}</label>
			</td>
			<td class="propertyRowValue">
			   <div data-dojo-attach-point="viewerField" data-dojo-attach-event="onChange: _onViewerChange" data-dojo-type="ecm/widget/FilteringSelect" data-dojo-props="id: '${id}_viewer-field', labelType: 'text', label: 'label', searchAttr: 'label', maxHeight: 200"></div>
			</td>
		</tr>
        <tr>
            <td class="propertyRowLabel">
           		<div data-dojo-props="id: '${id}_anyMimeType-defaultCheckbox'" data-dojo-type="ecm/widget/CheckBox" data-dojo-attach-point="anyMimeTypeCheckbox" data-dojo-attach-event="onClick: _onAnyCheckboxChange"></div>
	            <label for="${id}_anyMimeType-defaultCheckbox">${messages.file_type_any}</label>
	            <div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="anyMimeTypeCheckboxHoverHelp">${messages.file_type_any_hover}</div>
            </td>
            <td class="propertyRowValue">
           		<div data-dojo-props="id: '${id}_previewOnly-defaultCheckbox'" data-dojo-type="ecm/widget/CheckBox" disabled="true" data-dojo-attach-point="previewOnlyCheckbox" data-dojo-attach-event="onClick: _onPreviewCheckboxChange"></div>
	            <label for="${id}_previewOnly-defaultCheckbox">${messages.preview_only}</label>
	            <div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="previewOnlyCheckboxHoverHelp">${messages.preview_only_hover}</div>
            </td>
        </tr>
	  </table>
	</div>
	<div class="inputMimeFieldDivContainer">
	      <div class="inputMimeFieldDiv">
			<div>
			  <label for="${id}_inputMime-field">${messages.file_type_input}</label>
			</div>
			<input data-dojo-attach-point="inputMimeField" data-dojo-attach-event="onKeyUp: _onFieldChange" data-dojo-type="ecm/widget/ValidationTextBox" data-dojo-props="id: '${id}_inputMime-field', trim: true, propercase: false" />
			<div data-dojo-type="dijit/form/Button" data-dojo-attach-point="addMimeTypeButton" data-dojo-attach-event="onClick: _onClickAddMimeType">
				${messages.add_document_add_label}
			</div>
	      </div>
	</div>	
  </div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
	<div data-dojo-type="idx/widget/SloshBucket" data-dojo-attach-point="sloshBucket" data-dojo-props="canReorderSelectedGridData: false, style: { margin: '0' }"></div>
  </div>
 </div>	
</div>
