<tr><td class="propertyRowLabel"
    ><label>${messages.new_document_classification}</label> <span data-dojo-type="ecm/widget/HoverHelp">${messages.new_document_classification_help}</span
></td><td class="propertyCheckBoxRowValue"
    ><span id="${id}_checkbox" data-dojo-type="ecm/widget/CheckBox" data-dojo-attach-point="_useSourceCheckbox"></span
    > <label for="${id}_checkbox" class="labelWithHelp">${messages.new_document_classification_use_source_document}</label
    > <span id="${id}_source" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_sourceItemsSelect"></span
    > <label id="${id}_source" data-dojo-attach-point="_sourceItemName"></label
></td></tr>