<div style="overflow: auto; width: 100%; height: 100%">
  <table role="presentation">
	<tbody>
		<tr data-dojo-attach-point="messageArea" class="messageArea">
			<td data-dojo-attach-point="icon" class="icon"  valign="top"></td>
			<td data-dojo-attach-point="text" class="text"></td>
		</tr>
		<tr>
			<td data-dojo-attach-point="contentNode" colspan="2">
			
			<div data-dojo-attach-point="serverField" class="field"><label for"${id}_server"> ${messages.server} </label> <select
				data-dojo-type="dijit/form/Select" maxHeight="300" data-dojo-attach-point="server" name="${id}_server" id="${id}_server">
			</select></div>
			
			<div data-dojo-attach-point="oldPasswordField" class="ecmLabeledInputField"><label for="${id}_oldPassword">
			${messages.change_password_old_password} </label> <input data-dojo-type="dijit/form/ValidationTextBox"
				data-dojo-attach-point="oldPassword" name="${id}_oldPassword" id="${id}_oldPassword" type="password" value=""
				data-dojo-props="trim: false, required: true, intermediateChanges: true" 
				missingMessage="${messages.change_password_old_password_required}"
				data-dojo-attach-event="onChange:_updateButtons" /></div>

			<div class="ecmLabeledInputField"><label for="${id}_newPassword">
			${messages.change_password_new_password} </label> <input data-dojo-type="dijit/form/ValidationTextBox"
				data-dojo-attach-point="newPassword" name="${id}_newPassword" id="${id}_newPassword" type="password" value=""
				data-dojo-props="trim: false, required: true, intermediateChanges: true" 
				missingMessage="${messages.change_password_new_password_required}"
				invalidMessage="${messages.change_password_new_confirm_password_match}"	
				 constraints="{'confirmPass': '${id}_confirmPassword'}"	
				data-dojo-attach-event="onChange:_updateButtons" /></div>

			<div class="ecmLabeledInputField confirmPasswordField"><label for="${id}_confirmPassword">
			${messages.change_password_confirm_password} </label> <input data-dojo-type="dijit/form/ValidationTextBox"
				data-dojo-attach-point="confirmPassword" name="${id}_confirmPassword" id="${id}_confirmPassword" type="password" value=""
				data-dojo-props="trim: false, required: true, intermediateChanges: true" 
				missingMessage="${messages.change_password_confirm_password_required}"
				invalidMessage="${messages.change_password_new_confirm_password_match}"	
				 constraints="{'newPass': '${id}_newPassword'}"					 			
				data-dojo-attach-event="onChange:_updateButtons" /></div>

			</td>
		</tr>
	</tbody>
  </table>
</div>  