<div data-dojo-attach-point="_borderContainer" gutters="false" data-dojo-type="dijit.layout.BorderContainer" class="epContent">
	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="_topContainer" region="top">
	   <div data-dojo-type="ecm.widget.Ellipsis" data-dojo-attach-point="_breadcrumbContainer" class="breadcrumbContainer" truncate="left" >
		  <div data-dojo-type="ecm.widget.Breadcrumb" data-dojo-attach-point="_breadcrumb" class="breadcrumb"></div>
	   </div>
	   <div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="_versionSelectorPane" class="versionSelectorPane" >
	   		<label for="${id}_versionSelector" >${messages.object_versions_selector_label} </label><div class="ecmVersionSelector" data-dojo-type="ecm.widget.FilteringSelect" data-dojo-attach-point="_versionSelector" id="${id}_versionSelector"></div>
	   	</div>
   </div>
   <div data-dojo-attach-point="_stackContainer" data-dojo-type="dijit.layout.StackContainer" region="center">   
	  <div data-dojo-attach-point="_itemEditPane" data-dojo-type="ecm.widget.ItemEditPane" aria-label="${messages.edit_properties_dialog_title}"></div>
   </div> 
</div>