<div style="height:370px; width:755px">
    <div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="_tabContainer" data-dojo-props="style: { width: '100%', padding: '10px 5px 20px 5px', 'margin-top': '5px' }, region: 'center'">
		<div data-dojo-type="ecm/widget/PrintDocumentOptionsPane" title="${messages.print_service_document_options_tab_title}" data-dojo-props='style: {  }' data-dojo-attach-point="_documentOptionsPane"></div>
		<!--
		<div data-dojo-type="ecm/widget/PrintPageSetupPane" title="${messages.print_service_page_setup_tab_title}" data-dojo-props='style: {  }' data-dojo-attach-point="_pageSetupPane"></div>
		 -->
	</div>
</div>