<div data-dojo-type="dijit.layout.BorderContainer">
	<div data-dojo-attach-point="_userGroupSelector" region="center" data-dojo-type="dijit.layout.ContentPane"></div> 				
	<div data-dojo-attach-point="_accessPane" data-dojo-type="dijit.layout.ContentPane"  region="bottom">			
		<div class="accessPane">
			<label for="${id}_accessBox" data-dojo-attach-point="_access_label">${_messages.access_label}</label>
			<div id="${id}_accessBox" data-dojo-attach-point="_accessBox" data-dojo-type="dijit.form.Select"></div>
		</div>
	</div>	
</div>
