<div class="ecmProcessorLayout" data-dojo-attach-point="containerNode" role="region" aria-label="${_messages.process_step_processor}">
	<div data-dojo-attach-point="mainStackContainer" data-dojo-type="dijit.layout.StackContainer" region="center" style="visibility: hidden">
     	<div data-dojo-attach-point="loginPane" data-dojo-type="ecm.widget.LoginPane" id="${id}_LoginPane"></div>
        <div data-dojo-attach-point="mainPane" data-dojo-type="dijit.layout.BorderContainer"
             id="${id}_MainPane"
             class="contentPane" 
             style="height:300px"
             gutters="false"
             aria-label="${_messages.product_name}">
           </div>
    </div> 
</div>