<div class="ecmLayout">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-attach-point="borderContainer" class="contentPane" gutters="false">
        <div data-dojo-type="ecm/widget/Banner" data-dojo-attach-point="banner" region="top" showApplicationMenu="false" showToolsContextMenu="false" showUserSessionContextMenu="true"></div>
        
        <div data-dojo-attach-point="mainStackContainer" 
             data-dojo-type="dijit/layout/StackContainer" 
             region="center" 
             class="bookmarkStackContainer">     
            <div data-dojo-attach-point="loginPane" data-dojo-type="ecm/widget/LoginPane" id="${id}_LoginPane" urlAddressablePage="true"></div>

            <div data-dojo-attach-point="mainPane" data-dojo-type="dijit/layout/ContentPane" gutters="false">
            </div>
        </div>
    </div>
</div>