<div class="ecmScrollPane">
	<div data-dojo-attach-point="_leftScroller" class="leftScroller dijitHidden">
		<a href="javascript:;" role="button" data-dojo-attach-point="_leftButton" aria-label="${_messages.scroll_back}">
			<img alt="previous" src="dojo/resources/blank.gif" role="button" class="icon" data-dojo-attach-point="_leftImage">
		</a>
	</div>	
    <div class="centerContent" data-dojo-attach-point="wrapper" >
		<div data-dojo-attach-point="containerNode"></div>
    </div>    
    <div data-dojo-attach-point="_rightScroller" class="rightScroller dijitHidden">
	    <a href="javascript:;" role="button" data-dojo-attach-point="_rightButton" aria-label="${_messages.scroll_forward}">
			<img alt="next" src="dojo/resources/blank.gif" role="button" class="icon" data-dojo-attach-point="_rightImage">
		</a>
	</div>	
</div>