<div class="ecmManageEntryTemplates manageEntryTemplates">
	<div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="_tabContainer" style="width:100%; height:100%;" class="manageEntryTemplatesTabContainer">
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="entryTemplatesPane" class="entryTemplatesList" title="${_entryTemplates_label}" style="width:100%; height:100%;">
			<div data-dojo-type="ecm/widget/listView/ContentList" data-dojo-attach-point="entryTemplatesContents" multiSelect=false emptyMessage="${messages.no_entry_templates_were_found}"></div>
		</div>
	</div>
</div>