<div class="taskPane" style="width: 100%; height: 100%;" dojo-attach-point="containerNode">
	<div data-dojo-props="resizable:true,autoHeight:true" data-dojo-type="idx.layout.HeaderPane" title="${ier_messages.taskPane_previewTitle}" 
		data-dojo-attach-point="taskPreviewPane" style="width: 100%; height: 100%;" >
	     <div data-dojo-attach-point="noItemSelected" style="display:none; margin: auto; padding-top: 15px; text-align:center;">${ier_messages.taskPane_noItemSelected}</div>
		 <div data-dojo-type="idx.layout.MoveableTabContainer" style="padding:10px;" data-dojo-attach-point="taskPreviewTabContainer" style="width: 100%; height:100%">
		</div>
	</div>
</div>