<div data-dojo-attach-point="commentsPanel" data-dojo-type="dijit.layout.ContentPane" 
		splitter="false" class="CommentsPanel">
	<div class="TitleViewerCommentPane" data-dojo-attach-point="titleViewerComment"  style="width: 100%;">
	<span></span>
	</div> 
	<div data-dojo-type="ecm.widget.ItemNotelogsPane" data-dojo-attach-point="itemNotelogsPane" 
		class="itemNotelogsPane">
	</div>
	<div data-dojo-type="ecm.widget.ItemCommentsPane" data-dojo-attach-point="itemCommentsPane" 
		style="width: 100%; height: 100%; display: none" overflow="auto">
	</div>
</div>
