<div class="ecmMainLayout" data-dojo-attach-point="containerNode">
    <div data-dojo-type="dijit.layout.BorderContainer" class="contentPane" gutters="false" data-dojo-attach-point="mainBorderContainer"> 
        
       <div data-dojo-attach-point="mainStackContainer"
            data-dojo-type="dijit.layout.StackContainer"
            region="center"
            style="visibility: visible">
             
            <!--  div data-dojo-attach-point="loginPane" data-dojo-type="ecm.widget.LoginPane" id="${id}_LoginPane"></div  -->

            <div data-dojo-attach-point="mainPane" data-dojo-type="dijit.layout.BorderContainer"
                 id="${id}_StepPane"
                 class="contentPane" 
                 style="width: 100%; height:100%"
                 gutters="false">
           </div>
       </div> 
    </div>
</div>
    